header {
    background-color: #4a90e2;
    position: relative;
    padding-top: 0.25rem;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: block;
    position: relative;
    min-height: 100%; /* Asegura que el contenido ocupe al menos el 100% del viewport */
    background-color: #f0f4f8;
}

h1 {
    text-align: center;
    color: white;
    padding: 2%;
}
.content__input {
    margin: 1rem 0rem 1rem 0rem;
    margin-top: 0.5rem;
    width: 98%;
}
.form_button {
    color: white;
    background-color: #ff5722;
    padding: 0.50rem 19.75rem 0.50rem 19.75rem;
    border-radius: 4px;
    border: none;
}
.form_buttons:hover {
    background-color: #e64a19;
}
.title__input {
    width: 98%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.main_container {
    display: flex;
    justify-content: flex-start;
    margin-top: 9%;
    margin-left: 20%;
}

.form__wrapper {
    width: 45rem;
    height: 16rem;
    padding-left: 1rem;
    padding-bottom: 15rem;
    padding-top: 1.5rem;
    background-color: white;
}

.sidebar {
    background-color: white;
    height: 16.5rem;
    width: 15rem;
    margin-left: 2rem;
}

footer {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    position: absolute;
    bottom: 0;
}