header {
    background-color: #4a90e2;
    position: relative;
    padding-top: 0.25rem;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: block;
    position: relative;
    height: 100%; 
    background-color: #f0f4f8;
}

h1 {
    text-align: center;
    color: white;
    padding: 2%;
    font-size: 25px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}
.content__input {
    padding-top: 0.5rem;
    margin: 1rem 0rem 1rem 0rem;
    margin-top: 0.5rem;
    width: 98%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border: 1px solid gainsboro;
    padding-left: 0.5rem;
    border-radius: 4px;
}
.form_button {
    color: white;
    background-color: #ff5722;
    padding: 0.50rem 19.75rem 0.50rem 19.75rem;
    border-radius: 4px;
    border: none;
}
.form_button:hover {
    background-color: #e64a19;
}
.title__input {
    width: 98%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid gainsboro;
    padding-left: 0.5rem;
    border-radius: 4px;
}
.main_container {
    display: flex;
    justify-content: flex-start;
    margin-top: 9%;
    margin-left: 12rem;
}

.form__wrapper {
    width: 45rem;
    height: 16rem;
    padding-left: 1rem;
    padding-bottom: 18.75rem;
    padding-top: 1.5rem;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.sidebar {
    background-color: white;
    height: 20rem;
    width: 24rem;
    margin-left: 2rem;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.sidebar h4 {
    padding-top: 2rem;
    padding-left: 1rem;
}
.sidebar ul {
    padding-left: 1rem;
    padding-top: 1rem;
}
.sidebar ul li {
    padding-top: 0.5rem;
    font-size: 13px;
}
.sidebar ul li a {
    color: #5F2992;
}

footer {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.footer__text {
    padding-top: 0.5rem;
    font-weight: 500;
    font-size: 13px;
}
.form__heading {
    color: #333333;
    font-size: 20px;
}
.sidebar__title {
    color: #333333;
    font-size: 19px;
}
.form__field__title {
    font-size: 13px;
    color: #333333;
}
